@import '../reference/index';

$block: 'aside-nav';

.#{$block} {
	text-transform: uppercase;

	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: left;
		
		@include media-min(lg) {
			margin-top: 2rem;
			text-align: right;
		}
	}

	&__item {
		$vertical-margin: 1rem / 2;

		margin-bottom: $vertical-margin;
		margin-top: $vertical-margin;
		
		&:first-child {
			margin-top: 0;
		}
		
		&:last-child {
			margin-bottom: 0;
		}
		
		a {
			text-decoration: none;
		}
	}

	&__link {
		@include color-states($grey-light, $black, $black);

		&--active {
			@include color-states($black, $black, $black);
		}
	}
}
