/// Primary colors

// Primary
$primary: #a71930;


/// Supporting colors

// Aqua
$blue: #6fafb7;

// New Leaf
$green: #d7e923;

// Fucshia
$pink: #e23d96;

// Tangerine
$orange: #f26522;

// Light pink
$pink-light: #e4bac1;


/// Greys

// White
$white: #fff;

$grey-lighter: #ccc;
$grey-light: #bababa;
$grey: #d7d7d7;
$grey-dark: #7a7a7a;

// Slate grey, dark
$black: #111;
