// Primary
$primary-lighter: #0F4A96;
$primary-light: #004196;
$primary: #00204A;

// Compliments
$complement: #4A3000;
$complement-light: #966200;

// White
$white: #fff;

$grey-lightest: #e8e8e8;
$grey-lighter: #ccc;
$grey-light: #f9f9f9;
$grey-light-1: #e0e0e0;
$grey-light-2: #dcdcdc;
$grey: #828282;
$grey-dark: #7a7a7a;
$grey-darker: #4f4f4f;

// Slate grey, dark
$black: #333;

$yellow: #f2c94c;