$line-height: 1.5;
$default-font: 'Source Sans Pro' !default;
$default-color: $black !default;

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');

@mixin font-family-primary {
	font-family: $default-font, sans-serif;

	color: $default-color;
}

@mixin font-family-system {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

@mixin font-size-14 {
	font-size: 0.875rem;
}

@mixin font-size-16 {
	font-size: 1rem;
}

@mixin font-size-19 {
	font-size: 1.1875rem;
}

@mixin font-size-24 {
	font-size: 1.5rem;
}

@mixin font-size-33 {
	font-size: 2.0625rem;
}

@mixin font-size-40 {
	font-size: 2.5rem;
}

@mixin font-size-57 {
	@include large-headline;

	font-size: 3.5625rem;
}

@mixin font-size-72 {
	@include large-headline;

	font-size: 4.5rem;
}

@mixin font-weight($weight) {
	font-weight: $weight;

	@if (600 <= $weight) {
		@include font-smoothing;
	}
}

@mixin font-smoothing {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}
