@import '../reference/index';

$block: 'blog';

.#{$block} {
	@include container;

	margin-bottom: 4rem;
	margin-top: 4rem;

	&__row {
		align-items: baseline;
	}

	&__list {
		@include clean-list;
	}

	&__item {
		margin-bottom: 2rem;
		margin-top: 2rem;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__header-container {
		display: flex;
		flex-direction: column;
		padding-bottom: 0.75rem;
		position: relative;
		
		&::after {
			border-bottom: 1px solid $grey;
			bottom: 0;
			content: '';
			left: 0;
			position: absolute;
			width: 3rem;
		}

		@include media-min(md) {
			// padding-bottom: 1.5rem;
		}
	}

	&__header {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}

	&__heading {
		@include font-size-18;

		@include font-weight(400);

		letter-spacing: 1.5px;
		margin: 0;
		text-transform: uppercase;
	}

	&__date {
		color: $primary;
	}

	&__tag {
		color: $grey-dark;
		font-size: 12px;
		font-style: italic;
		margin: 0;
		margin-top: 0.5rem;
	}
}