@import '../reference/index';

$block: 'resume-milestone';

.#{$block} {
	& + & {
		margin-top: 2rem;
	}

	&__header {
		@include media-min(md) {
			display: flex;
			justify-content: space-between;
		}
	}

	&__heading,
	&__subheading {
		@include font-size-16;

		margin: 0;
	}

	&__subheading {
		&::before {
			content: '-';
		}
		font-weight: 400;
		// margin-bottom: 0;
		// margin-top: 0.25rem;
	}

	&__date {
		margin: 0;
	}

	&__date,
	&__subheading {
		font-style: italic;
	}

	.resume__list {
		margin-top: 0.5rem;
	}
}
