@import '../reference/index';

$block: 'resume';

.#{$block} {
	@include container(50rem);

	&__left,
	&__right {
		flex: 1;
		width: 100%;
	}

	&__left {
		flex-grow: 3;
	}

	&__header {
		display: flex;
		flex-direction: column;
		
		@include media-min(md) {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	&__section {
		border-top: 1px solid $grey;
		padding-bottom: 1rem;
		padding-top: 1rem;

		&:first-child {
			border-top: 0;

			@include media-min(md) {
				padding-top: 4rem;
			}
		}
	}

	&__heading {
		@include font-size-33;
		@include font-weight(100);
		
		color: $primary;
		margin-bottom: 1rem;
		margin-top: 0.5rem;
		
		@include media-min(sm) {
			@include font-size-48;
		}
		
		&--header {
			margin: 0;
		}
	}

	&__address {
		margin: 0;
		margin-top: 0.5rem;
	}

	&__list {
		list-style: none;
		margin-top: 0;

		&--header {
			margin-bottom: 0;
			padding-left: 0;

			.#{$block}__item {
				line-height: initial;
				margin: 0;
			}
		}

		&--2 {
			columns: 2;
		}
	}

	&__item {
		line-height: 1.5;
		margin-bottom: 0.5rem;
		margin-top: 0.5rem;
	}
}
