@import '../reference/index';

$block: 'resume';

.#{$block} {
	@include container(50rem);

	&__left,
	&__right {
		flex: 1;
		width: 100%;
	}

	&__left {
		flex-grow: 3;
	}

	&__header {
		display: flex;
		flex-direction: column;

		@include media-min(md) {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	&__section {
		border-top: 1px solid $grey-light-2;
		padding-bottom: 1rem;
		padding-top: 1rem;

		&:first-child {
			border-top: 0;
			padding-top: 0;
		}
	}

	&__heading {
		@include font-size-24;
		@include font-weight(100);

		color: $primary;
		margin-bottom: 1rem;
		margin-top: 0.5rem;

		&--header {
			margin: 0;

			@include media-min(sm) {
				@include font-size-48;
			}
		}
	}

	&__address {
		margin: 0;
		margin-top: 0.5rem;
	}

	&__list {
		list-style: none;
		margin-top: 0;
		padding-left: 0;

		&--header {
			margin-bottom: 0;
			padding-left: 0;

			.#{$block}__item {
				background: none;
				line-height: initial;
				margin: 0;
			}
		}

		&--2 {
			columns: 2;
		}
	}

	&__item {
		@include background-image-svg('../../images/icons/arrow-ios-forward-outline.svg', 1rem, 1rem, 1rem, 50%);

		line-height: 1.5;
		margin-bottom: 0.5rem;
		margin-top: 0.5rem;
		padding-left: 2.75rem;
	}
}
