@import '../reference/index';

@mixin box-shadow-2 {
	box-shadow: 0 1px 4px 0 rgba(#000, 0.15);
}

$block: 'header';

.#{$block} {
	@include font-size-14;

	left: 0;
	position: fixed;
	right:0;
	top: 0;
	z-index: 999;

	&--active {
		.#{$block}__list {
			display: block;
		}
	}
	
	@include media-min(md) {
		background-color: $white;
	}

	&__container {
		@include container;

		padding: 2rem;

		@include media-min(md) {
			padding: 1.75rem 1rem;
		}
	}

	&__list {
		@include clean-list;

		background-color: $white;
		border-radius: 0.25rem;
		box-sizing: border-box;
		display: none;
		margin-left: -0.5rem;
		margin-right: -0.5rem;
		// padding: 0.5rem;

		@include media-min(md) {
			border-radius: 0;
			display: block;
			margin: 0;
			padding: 0;
		}
	}

	&__item {
		$spacing: 1.3125rem;

		padding: calc(#{$spacing} / 2) 0.5rem;
		text-transform: uppercase;

		&:last-child {
			border-bottom: 0;
		}

		@include media-min(md) {
			display: inline-block;
			margin-left: $spacing;
			margin-right: $spacing;
			padding: 0;
	
			&:first-child {
				margin-left: 0;
			}
	
			&:last-child {
				margin-right: 0;
			}
		}
	}

	&__link {
		@include color-states($black, $primary, $primary);
	}

	&__button {
		background-color: $white;
		border: 0;
		border-radius: 0.25rem;
		cursor: pointer;
		display: block;
		padding: 0.5rem;
		transform: translate(-0.5rem, -0.5rem);

		svg {
			display: block;
		}

		@include media-min(md) {
			display: none;
		}
	}
}
