@import '../reference/index';

@mixin box-shadow-2 {
	box-shadow: 0 1px 4px 0 rgba(#000, 0.15);
}

$block: 'header';

.#{$block} {
	@include font-size-14;

	left: 0;
	position: fixed;
	right:0;
	top: 0;
	z-index: 999;

	&--active {
		.#{$block}__list {
			align-items: center;
			display: inline-flex;
			margin-left: 1rem;
			vertical-align: top;
		}
	}
	
	@include media-min(md) {
		background-color: $white;
	}

	&__container {
		@include container;

		display: flex;

		padding: 1.25rem;
		
		@include media-min(xs) {
			padding: 2rem;
		}

		@include media-min(md) {
			display: flex;
			padding: 1.75rem 1rem;
		}
	}

	&__list {
		@include clean-list;

		background-color: $white;
		border-radius: 0.25rem;
		box-sizing: border-box;
		display: none;
		flex: 1 1 auto;
		height: 2.5rem;
		// margin-left: -0.5rem;
		// margin-right: -0.5rem;
		// padding: 0.5rem;

		@include media-min(md) {
			border-radius: 0;
			display: block;
			height: auto;
			margin: 0;
			padding: 0;
		}
	}

	&__item {
		$spacing: 1rem;

		// padding: calc(#{$spacing} / 2) 0.5rem;
		text-transform: uppercase;

		&:last-child {
			margin-right: $spacing;
		}

		display: inline-block;
		margin-left: $spacing;
		padding: 0;

		@include media-min(md) {
			$spacing: 1.3125rem;

			margin-left: $spacing;
			margin-right: $spacing;

			&:first-child {
				margin-left: 0;
			}
	
			&:last-child {
				margin-right: 0;
			}
		}

	}

	&__link {
		@include color-states($black, $primary, $primary);
	}

	&__button {
		background-color: $white;
		border: 0;
		border-radius: 0.25rem;
		cursor: pointer;
		display: inline-block;
		// margin-left: -0.5rem;
		// margin-top: -0.5rem;
		padding: 0.5rem;

		svg {
			display: block;
		}

		@include media-min(md) {
			display: none;
		}

		.#{$block}__heading + & {
			margin-top: 0.5rem;
		}
	}
}
