@import '../reference/index';

$block: 'hero-panel';

.#{$block} {
	text-align: center;

	@include media-max(md) {
		margin-top: 1rem;
	}

	&__heading {
		@include font-size-48;

		@include font-weight(100);
		
		color: $primary;
		margin: 0;
		margin-top: 1rem;

		@include media-min(xs) {
			@include font-size-57;
		}

		@include media-min(md) {
			@include font-size-72;

			margin-top: 1.5rem;
		}
	}

	&__summary {
		@include font-size-18;

		@include font-weight(100);

		line-height: 2;
	}

	&__picture {
		display: inline-block;
		max-width: 8rem;

		@include media-min(md) {
			max-width: 14rem;
		}
	}

	&__image {
		display: block;
		width: 100%;
	}

	&__social-media {
		margin-top: 2rem;
	}
}
