@import '../reference/index';

$block: 'panel';

.#{$block} {
	$spacing-md: 10rem;
	$spacing: $spacing-md / 3;

	margin-bottom: $spacing;
	margin-top: $spacing;
	position: relative;

	@include media-min(md) {
		margin-bottom: $spacing-md;
		margin-top: $spacing-md;
	}

	&--light {
		background-color: $grey-light;
	}

	&--dark {
		background-color: $primary;
		color: $white;

		.#{$block}__rte {
			color: $white;
		}

		.#{$block}__footer {
			.#{$block}__link {
				color: $white;
			}

			svg {
				fill: $white;
			}
		}
	}

	&--reverse {
		.row {
			display: flex;
			flex-direction: column;

			@include media-min(md) {
				flex-direction: row;
			}
		}

		.column {
			flex-basis: auto;
			order: 1;
		}

		.#{$block}__content {
			order: 2;

			@include media-min(md) {
				order: initial;
			}
		}
	}

	&--has-background-color {
		margin: 0;
		padding-bottom: $spacing;
		padding-top: $spacing;

		@include media-min(md) {
			padding-bottom: $spacing-md;
			padding-top: $spacing-md;
		}

		&.#{$block}--small-spacing {
			margin: 0;

			@include media-min(md) {
				padding-bottom: $spacing;
				padding-top: $spacing;
			}
		}
	}

	&--has-background-image {
		margin: 0;
	}

	&--small-spacing {
		@include media-min(md) {
			margin-bottom: $spacing;
			margin-top: $spacing;
		}
	}

	&--text-align {
		&-center {
			text-align: center;
		}
	}

	&__background-picture {
		bottom: 0;
		display: block;
		left: 0;
		overflow: hidden;
		position: absolute;
		right: 0;
		top: -150%;

		&::after {
			background-color: rgba($primary, 0.70);
			bottom: 0;
			content: '';
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}
	}

	&__background-image {
		object-position: center center;
		width: 100%;
	}

	&__content {
		order: 1;
	}

	&__container {
		@include container;
	}

	&__picture,
	&__image {
		display: block;
		width: 100%;
	}

	&__heading {
		@include font-size-33;
		@include font-weight(100);
		
		margin: 0;
		
		@include media-min(sm) {
			@include font-size-48;
		}
	}
	
	&__subheading {
		@include font-size-24;
	}

	&__client {
		@include font-size-18;

		color: $grey;
		padding-left: 2rem;
		position: relative;

		&::before {
			$border-height: 1px;

			border-bottom: $border-height solid $grey;
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			margin-top: -$border-height / 2;
			width: 1.5rem;
		}

		.pill {
			margin-left: 1rem;
		}
	}

	&__list {
		@include clean-list;
	}

	&__item {
		margin-bottom: 1rem;
		margin-top: 1rem;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__rte,
	&__short-description {
		color: $primary;
	}

	&__short-description {
		&--light {
			@include font-weight(100);
		}
	}

	&__footer {
		text-align: center;
		margin-top: 2rem;

		@include media-min(md) {
			text-align: initial;
		}
	}

	&__link {
		&--icon {
			svg {
				fill: $primary;
				margin-right: 0.5rem;
				vertical-align: middle;
			}
		}
	}
}
