@import '../reference/index';

$block: 'highlight';

@mixin highlight {
	&.#{$block} {
		border-left: 2px solid $yellow;
		padding-left: $grid-gutter-width + 0.5rem;

		@include media-min(md) {
			@include column-width(4);
			
			left: 100%;
			margin: 0 $grid-gutter-width;
			position: absolute;
		}
	}
}
