@import '../reference/index';

$block: 'button-container';

.#{$block} {
	align-items: center;
	display: flex;
	justify-content: center;
	overflow: hidden;
	text-align: center;

	&::before,
	&::after {
		border-bottom: 1px solid $grey;
		content: '';
		position: relative;
		width: 50%;
	}

	&::before {
		margin-left: -50%;
		right: 1rem;
	}

	&::after {
		left: 1rem;
		margin-right: -50%;
	}
}
