@import '../reference/index';

$block: 'button';

.#{$block} {
	@include font-weight(600);

	background-color: $white;
	border: 0;
	border-radius: 0.25rem;
	color: $black;
	display: inline-block;
	padding: 0.75rem 1.25rem;
	cursor: pointer;
	text-transform: uppercase;

	@include hover-focus {
		text-decoration: none;
	}

	&--icon {
		@include image-replacement;
		
		background-color: $white;
		border-radius: 2.5rem;
		box-shadow: 0 0 1.5rem .25rem rgba(#ccc, 1);
		height: 2.5rem;
		position: relative;
		width: 2.5rem;
		z-index: 1;
	}
}
