@import '../reference/index';

$block: 'pill';

.#{$block} {
	border: 1px solid $grey-dark;
	border-radius: 0.25rem;
	font-size: 12px;
	padding: 0.25rem 0.75rem;
	text-transform: uppercase;
	vertical-align: middle;
	margin-left: 0.5rem;

	&--yellow {
		background-color: $yellow;
		border: 0;
		color: $white;
	}
}
